<!DOCTYPE html>
<html lang="pt_PT">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Bruno Amaral, Diana Costa, Paulo Gonçalves">

    <title>BPI Appy Days - Radioheads Team</title>

    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/assets/js/html5shiv.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

        {{ content }}

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10997142-20', 'brunoamaral.github.io');
  ga('send', 'pageview');

</script>
  </body>
</html>
